<br><h1 class="text-center">About this project</h1><br/>
<div class="container-fluid">
    <pre style="font-size: 1em">In this proyect i work with the next tecnologies:

    Language(s):
        * JavaScript

    DataBase:
        * MongoDB

    Runtime environment for JavaScript:
        * Nodejs

    Frameworks:
        * express
        * Bootstrap5
    
    Template engine:
        * Handlebars
    
    Modules for Nodejs:
        * bcryptjs
        * bootstrap-colorpicker
        * connect-mongo
        * express
        * express-handlebars
        * express-session
        * mongoose
        * morgan
        * passport
        * passport-local

    Others:
        * NPM
        * JSON
        *ECMAScript 6

    </pre>
</div>