
<header style="background-color: rgb(20, 35, 95);">
    <br><h1 style="text-align:center; color: white;">LOGIN</h1><br>
</header>
<br>


<br><br>


    <div class="container bg-light rounded-3" style="width: 50%; padding: 80px 150px; margin: 5px 25%">
        <form action="/login" method="POST">
            <div class="row">
                <label class="col-3">User:</label>
                <input type="text" class="col-9" name="username" placeholder="User name or email" maxlength="30" id="username">
            </div><br>
            <div class="row">
                <label class="col-3">Password:</label>
                <input type="password" class="col-9" name="password" placeholder="Password" maxlength="30" id="password"><br/><br/>
            </div><br>
            <input type="submit" class="btn btn-outline-primary" style="width: 430px;" value="Login" id="loginlogin_button">
        </form><br>
        <div>
            <a href="/register" class="">Create an account</a>
    </div>
</div>

