  {{!-- <body style="background-color: rgb(102, 153, 51)"></body> --}}
{{!-- <h1 style="text-align: center; margin: 20% 0%; color: white; font-size: 50px;">Coming Soon</h1> --}}
{{!-- <br><br>
<div class="container mt-3">
     <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card card-body p-4 rounded-3">
                <div class="mt-5 mb-4 me-5 ms-5">
                    <div class="">
                      <h1 style="text-center text-green">Reset your password</h1>
                    </div>
                    <form action="/login" method="POST">
                        <p style="text-center my-15 fs-6">Enter your email address and we will send you instructions to reset your password.</p>
                        <div class="row g-3 pb-lg-2">
                            <input type="email" class="col-md-12" autofocus name="username" placeholder="Introduce the email" maxlength="30" value="{{username}}">
                        </div><br>
                        <div class="row g-3">
                            <input type="submit" class="btn btn-outline-primary" value="Send" id="loginlogin_button">
                        </div>
                    </form><br>
                    </div>
                </div>
            </div>
        </div>
     </div>   
</div> --}}

{{!-- <head>
    <link rel="stylesheet" href="../public/css/edit.css"><br/><br/><br/>
</head> --}}
<br/><br/><br/><br/>
<div class="d-flex align-items-center">
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card card-body p-4 border-3" style="color: black; background-color: rgb(228, 228, 228); border: none;">
                <div class="mt-2 mb-2 me-5 ms-5">
                    <h1 class="text-center my-2">Reset your password</h1><br>
                    <form class="row" action="/recover" method="POST">
                        <div class="col-md-12">
                          <p style="text-center fs-6">Enter your email address and we will send you instructions to reset your password.</p>
                        </div>
                        <div class="col-md-12 my-2">
                            <input type="email" class="form-control" autofocus name="email" placeholder="Introduce the email" id="email"><br/>
                        </div>
                        <div class="d-grid gap-2 mb-1">
                            <button class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
