<link rel="stylesheet" href="../css/register.css">

<header>
    <div class="container-sm">
        <a href="/">
            <img src="../images/back.png" alt="Go back" class="img-fluid"/>
        </a><br>
    </div>
</header>
<br/><br/>
{{!--  --}}
<div class="container p-10 m-10 align-center-items">
    <form class="row g-3 needs-validation" action="/register" method="POST">
        
        <div class="col-md-3">
            <label for="validationCustom01" class="form-label" for="names">Name(s)</label>
            <input type="text" class="form-control" name="names" id="names" value="{{names}}" placeholder="All names">
        </div>

        <div class ="col-md-1"></div>

        <div class="col-md-3">
            <label for="validationCustom02" class="form-label" for="lastName">Last name</label>
            <input type="text" class="form-control" name="lastName" value="{{lastName}}" id="lastName">
        </div>

        <div class ="col-md-1"></div>

         <div class="col-md-3">
            <label for="validationCustom04" class="form-label" for="group">Group you teach</label>
            <select class="form-select" name="group" id="group">
                <option class="placeholder" selected disabled>Open this select menu</option>
                {{!-- {{#if group}}
                    <option value="5°B" selected>5°B</option>
                {{else}}
                    <option value="5°B">5°B</option>    
                {{/if}} --}}
                    <option value="1°A">1°A</option>
                    <option value="1°B">1°B</option>
                    <option value="2°A">2°A</option>
                    <option value="2°B">2°B</option>
                    <option value="3°A">3°A</option>
                    <option value="3°B">3°B</option>
                    <option value="4°A">4°A</option>
                    <option value="4°B">4°B</option>
                    <option value="5°B">5°B</option>
                    <option value="5°D">5°D</option>
            </select>
        </div>

        <div class="col-md-3">
            <label for="validationCustomUsername" class="form-label" for="username">Username</label>
            <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">#</span>
            <input type="text" class="form-control" name="username" id="username" value="{{username}}" placeholder="ucol email-without @ or account number">
            </div>
        </div>

        <div class ="col-md-1"></div>

        <div class="col-md-3">
            <label for="validationCustom03" class="form-label" for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>

        <div class ="col-md-1"></div>

        <div class="col-md-3">
            <label class="form-label" for="confirmPassword">Confirm password</label>
            <input type="password" class="form-control" name="confirmPassword" id="confirmPassword">
        </div>

        <div class="col-md-12">
            <br>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>
</div>