<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(102, 153, 51);">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-white" href="/tabla" class="text-white">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/students/CRUD" class="text-white">Tabla</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/about" class="text-white">About</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="/" class="text-white">Cerrar sesion</a></li>
            </ul>            
        </div>
    </div>
</nav>

